.cart-main-container {
    display: -ms-flexbox;
    display: flex;
    margin: 0 30px;
}

.cart-main-container .items-tile-section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 70%;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.cart-main-container .items-tile-section .item-details-container {
    max-width: 275px;
    margin: 20px 20px 0 0;
    border: 1px solid grey;
    width: 100%;
}

.cart-main-container .items-tile-section .item-details-container .item-image-section {
    display: -ms-flexbox;
    display: flex;
    padding: 15px 0;
}

.cart-main-container .items-tile-section .item-details-container .item-image-section .item-discount {
    font-size: 12px;
    background: limegreen;
    color: #fff;
}

.cart-main-container .items-tile-section .item-details-container .item-details-section {
    background: #D2DEE2;
    padding: 3px 5px;
}

.cart-main-container .items-tile-section .item-details-container .item-details-section .item-name {
    font-size: 14px;
}

.cart-main-container .items-tile-section .item-details-container .item-details-section .item-details {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.cart-main-container .items-tile-section .item-details-container .item-details-section .item-details .item-price .item-display-price,
.cart-main-container .items-tile-section .item-details-container .item-details-section .item-details .item-price .item-actual-price {
    font-size: 14px;
}

.cart-main-container .items-tile-section .item-details-container .item-details-section .item-details .item-price .item-display-price {
    text-decoration: line-through;
    -webkit-text-decoration-color: red;
    -moz-text-decoration-color: red;
    text-decoration-color: red;
}

.cart-main-container .items-tile-section .item-details-container .item-details-section .item-details .item-price .item-actual-price {
    font-weight: bold;
}

.cart-main-container .items-tile-section .item-details-container .item-details-section .item-details .add-to-cart-btn {
    border: 2px solid #33CAFF;
    border-radius: 4px;
    color: #33CAFF;
    background: #fff;
    outline: none;
    font-size: 12px;
    padding: 1px 10px;
}

.cart-main-container .items-tile-section .item-details-container .item-details-section .item-details .add-to-cart-btn.add-to-cart-btn--disabled {
    background: lightgray;
    color: gray;
    border: 2px solid gray;
    cursor: not-allowed;
}

@media only screen and (max-width: 425px) {
    .cart-main-container {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .cart-main-container .items-tile-section {
        width: auto;
    }

    .cart-main-container .items-tile-section .item-details-container {
        width: 100%;
        margin-right: 0;
        max-width: initial;
    }
}
