<div class="cart-items-calc-container">
    <div class="added-items-section">
        <table class="items-table" id="cartTable">
            <thead>
                <tr>
                    <th class="total-item-number">Items</th>
                    <th class="qty-heading">Qty</th>
                    <th class="price-heading">Price</th>
                </tr>
            </thead>
            <tbody class="added-items-list"></tbody>
        </table>
    </div>
    <div class="total-amount-container">
        <div class="total-header-text">Total</div>
        <div class="total-item-amount-section">
            <table class="gross-total-table">
                <tbody>
                    <tr>
                        <td class="total-text total-item-number">Items</td>
                        <td>:</td>
                        <td class="item-total">0</td>
                    </tr>
                    <tr>
                        <td class="total-text">Discount</td>
                        <td>:</td>
                        <td class="disc-total">0</td>
                    </tr>
                    <tr>
                        <td class="total-text">Type Discount</td>
                        <td>:</td>
                        <td class="type-disc-total">0</td>
                    </tr>
                </tbody>
            </table>
            <table class="order-total-table">
                <tbody>
                    <tr>
                        <td class="total-text">Order Total</td>
                        <td>:</td>
                        <td class="gross-total">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>